a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
    width: 15%;
    margin: 2% 2% 5%;
    padding: 1% 2%;
    border-radius: 5%;
}